@import url('http://fonts.cdnfonts.com/css/sifonn');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.4);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff941455;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff9414;
}

body{
	margin: 0;
	background-color: black;
	background-color: #191919;
	color: #f3f3f3 !important;
	scroll-behavior: smooth;
}


.loader{
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 20;
	width: 100%;
	height: 100%;
	transition: 1s all ease-in-out;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #191919;
}


.loader__content{
	width: 50%;
	height: 50%;
}
.img__container{
	width: 100%;
	height: 100%;
}
.loader img{
	/*transform: scale(0.6);*/
	width: 100%;
	height: 100%;
}
.loader__line{
	width: 1%;
	height: 2px;
	background-color: #ff9414;
}

p{
	color: grey;
}

h1,h2,h3,h4,h5,h6{
	/*font-family: 'Sifonn-Basic' !important;*/
	font-family: 'Poppins',sans-serif;
}

h5{
	color: grey;
	font-weight: 30;
}



button.navbar-toggler{
	border:hidden;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.brand-image{
	width: 60px;
	height: 100%;
}
.nav-link{
	color: #ff9414 !important	;
}

.section {
	padding-bottom:130px;
}

.section__banner{
	/*border: 2px solid orange;*/
	overflow: hidden;
	overflow-y: hidden;
	position: relative;
	height: calc(100vh - 80px);
}

.section__banner  .header-image{
	position: absolute;
	margin: auto;
	width: 100%;
	right: -690px;
	color: orange;
	animation-name: tech-rings;
	animation-duration: 40s;
	animation-iteration-count: infinite;
}

@keyframes tech-rings{
	0%{
		transform: rotate(0deg);
	}

	100%{
		transform: rotate(360deg);
	}
}

.banner__text{
	color: white;
	font-size: 80px;
	width: 100%;
	/*border:  1px solid gold;*/
	/*margin-left: 50px;*/
	margin-top: 100px;
}


.cButton{
	border: 2px solid #ff941455;
	border-radius: 40px;
	color: #f3f3f3;
	width: 160px;
	background: #ff9414;
	color: black;
	height: 45px;
	transition: 0.3s all;

}



@keyframes button_pulse{
	0%{
		transform: scale(1);
		border: 2px solid #ff941455;
	}

	50%{
		transform: scale(1.1);
		border: 2px solid #ff9414;

	}
	100%{
		transform: scale(1);
		border: 2px solid #ff941455;
	}
}

.cButton:hover,
.cButton:focus{
	border: 2px solid #ff9414;
}

.down-arrow{
	width: 50px;
	height: 50px;
	color: white;
	margin: auto;
	font-size: 25px;
	display: grid;
	align-items: center;
	justify-content: center;
	border: 1px solid grey;
	border-radius: 50%;
	float: bottom;
}




#section__about_us{
	background-color: black;
	background: black;
	text-align: left !important;
}




#header_text{
	font-size: 2rem;
	color:  white;
}


.services_text h1{
	font-size: 25px;
	text-align: 	center	;
	color: white;
}

#static_image-1{
		background-image: 	linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("../images/brown_tree.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size:  cover;
		background-attachment: 	fixed;
}

.card-icon{
	width: 40%;
	text-align: center;
	/*background-color: 	orange;*/
	margin: auto;
	margin-top: 30px;
	font-size: 40px;
	color: orange;
	/*border:  1px solid #ff9414;*/

}

.card{
	width: 80%;
	height: 12rem;
	color: white;
	background-color: rgba(0,0,0,0.2);
	cursor: pointer;
	/*border:  1px solid #ff9414;*/
}

.card-footer{
	font-family: 'Poppins';
	font-size: 1.2vw;
}



#static_image-2{
		background-image: 	linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("../images/green_tree.jpg");
		background-repeat: no-repeat	;
		background-position: center;
		background-size:  cover;
		background-attachment: 	fixed;
}


.section__count{
	font-size: 20px;
}

.section__count h4{
	/*color:  white;*/
}

.segment_display{
	width: 120px;
	height: 120px;
	margin: auto;
	margin-bottom: 	20px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	/*background-color: rgba(0,0,0,0.4);*/
	box-shadow: inset 0 0 20px  rgba(0,0,0,0.4);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	font-size: 28px;
	font-weight: 400;
	/*font-family: cursive;*/
	font-family: 'Abel';
}

.section__contact{
	background: black;
}

.section__contact .form-control{
	background: transparent;
	color: #f3f3f3;	
	border:  1px solid #ff941455;
	font-weight: 20;
}

.section__contact .form-control:focus,
.section__contact .form-control:active{
	box-shadow: none;
	outline: none;
	border:  1px solid #ff9414;
}

@media only screen and (max-width: 900px){
	.section__banner  .header-image{
		position: absolute;
		top: 500px;
		left: 200px;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}

	.banner__text{
		/*margin-left: 20px;*/
		width: 90%;
		line-height: 55px;
		font-size: 40px;
	}

	.card-footer{
		font-size: 0.9rem;
	}
	p{
		font-size: 17px;
	}
}


@media only screen and (max-width: 500px){
	#section__about_us{
		text-align: center !important;
	}

	.section__banner  .header-image{
		position: absolute;
		top: 500px;
		left: 200px;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}

	.section__banner{
		height: cacl(100vh - 80px);
	}
}
.hidden{
	opacity: 0 !important;
}